<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Shadows</title>
  <meta name="Description" content="A web tool used to generate 3D-model of a structure projecting customizable patterns on the ground.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="assets/favicon.png" />
  <link rel="stylesheet" type="text/css" href="vendor/spectre.css">
  <link rel="stylesheet" type="text/css" href="shadows.css">
  <script src="vendor/vue.js"></script>
  <script src="main.js" type="module" async></script>
</head>

<body>
<h1>Shadows</h1>
<div class="columns">
  <div class="column col-6" id="drawing">
    <h2>Drawing</h2>
    <label for="gridWidth">width</label>
    <input id="gridWidth" type="number" min="1" max="30" v-bind:value="gridWidth" v-on:input="updateWidth" title="Grid width">
    <label for="gridHeight">height</label>
    <input id="gridHeight" type="number" min="1" max="30" v-bind:value="gridHeight" v-on:input="updateHeight" title="Grid height">
    <canvas id="pixelGrid" ref="pixelCanvas" width="400" height="300" v-on:mousedown="draw" v-on:mousemove="draw" title="Draw the pattern you want. Use right-click to erase pixels"></canvas>
    <label title="Current frame">frame {{currentFrame}} /</label>
    <input id="framesNumber" ref="framesNumber" v-model="framesNumber" type="number" v-bind:min="currentFrame" max="30" title="Number of frames">
    <input id="frameSelector" ref="frameSelector" v-model="currentFrame" min="1" v-bind:max="framesNumber" title="Frame selector" type="range">
  </div>
  <div class="column col-6" id="rendering">
    <h2>Rendering</h2>
  </div>
</div>
<footer>
  <a href="https://framagit.org/roipoussiere/shadows" title="Fork me on GitLab">Fork me on GitLab</a>
</footer>
</body>
</html>
