body {
  padding: 1em;
  background-color: burlywood;
}

h1, h2, h3, h4, h5, h6, p, label {
  color: #453C76;
}

h1, label {
  font-family: sans-serif;
}

input[type=number] {
  width: 4em;
  margin-right: 1em;
  text-align: center;
  margin-left: 0.5em;
  border: 1px solid black;
  background-color: lightgray
}

input.warning {
  box-shadow: 0 0 5px 1px darkred;
}

#frameSelector {
  display: block;
  width: 15em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#pixelGrid {
  display: block;
  margin: 10px 0;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1em;
  background-color: bisque;
}